<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Professores | Sistema Acadêmico</title>
    <link rel="stylesheet" href="../../assets/css/estilo.css">
</head>
<body>
    <main class="conteudo">
        <header class="topo-listagem">
            <h2>Listagem de Professores</h2>
            <form class="form-filtro" method="get" action="">
                <input type="search" name="busca" placeholder="🔍 Buscar por..">
                <button title="submit">Pesquisar</button>
            </form>
        </header>

        <section class="secao-tabela">
            <table class="tabela">

                <thead>
                    <tr>
                        <th>Matrícula</th>
                        <th>Nome</th>
                        <th>Disciplina</th>
                        <th>Turma</th>
                        <th class="acoes">Ações</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>123432</td>
                        <td>Igor Vascelos</td>
                        <td>Back-END</td>
                        <td>A2025.2</td>
                        <td class="acoes">
                            <button class="btn-editar">✏️ Editar</button>
                            <button class="btn-excluir">🗑️ Excluir</button>
                        </td>
                        
                    </tr>

                    <tr>
                        <td>4524542</td>
                        <td>Josiane Lopes</td>
                        <td>Front-END</td>
                        <td>A2025.2</td>
                        <td class="acoes">
                            <button class="btn-editar">✏️ Editar</button>
                            <button class="btn-excluir">🗑️ Excluir</button>
                        </td>
                           
                    </tr>
                </tbody>
            </table>

            <p class="info-tabela"> Total de professores: 2</p>
        </section>

    </main>
</body>
</html>