@charset "UTF-8";
/*=========== FONTES ===========*/
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

/* ========== ESTRUTURA BASE ========== */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: rgb(144, 144, 144);
  font-family: Arial, Helvetica, sans-serif;
}
.centralizado {
    text-align: center;
}

/* ========== CABEÇALHO ========== */
header {
  background-color: white;
  padding: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.252) 2px 2px 10px;
}

h1, h2, h3 {
    font-family: "Orbitron", sans-serif;
    font-style: normal;
}

/* ========== CONTEÚDO PRINCIPAL ========== */
main {
  background-color: white;
  margin: 20px auto;
  padding: 15px;
  max-width: 600px;
  flex: 1;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.264) 0px 2px 10px;
  
}

/* ===== Perfil (foto + texto) ===== */
.perfil {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}

.perfil img {
  width: 200px;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.286) 2px 2px 10px;
}

/* ===== Texto da apresentação ===== */
#aprensentacao {
  background-color: rgba(128, 128, 128, 0.15);
  border-radius: 12px;
  padding: 10px;
  flex: 1;
  box-shadow: rgba(0, 0, 0, 0.216) 2px 2px 10px;
}

#aprensentacao > p {
  text-align: justify;
  margin: 5px 8px;
}

/* ========== RESPONSIVIDADE ========== */
@media (max-width: 600px) {
  .perfil {
    flex-direction: column;
    text-align: center;
  }

  .perfil img {
    width: 150px;
  }
}

/* ========== RODAPÉ ========== */
footer {
  text-align: center;
  background-color: rgb(220, 220, 220);
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.144) 1px -2px 10px;
}

footer > p{
    margin: 0px;
}