

.dashboard-img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
  padding-top: 20px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-header h3 {
  margin: 0;
}

.estrela {
  font-size: 25px;
  cursor: pointer;
  color: #ccc;
  transition: transform 0.2s, color 0.2s;
}

.estrela.ativa {
  color: #f1c40f;
}

.estrela:hover {
  transform: scale(1.2);
}

.link {
  display: inline-block;
  margin-top: 8px;
  text-decoration: none;
  font-weight: 500;
}

.dataFAV {
  display: block;
  padding-bottom: 60px;
  margin-top: 4px;
  color: #777;
}

.vazio {
  margin-top: 20px;
  color: #999;
}