.light {
  --scroll-track: #e5e5e5;
  --scroll-thumb: #2e7d5a;
  --scroll-thumb-hover: #1f5a40;

  --bg: #ffffff;
  --text: #1b1b1b;
}

.dark {
  --scroll-track: #121212;
  --scroll-thumb: #145991;
  --scroll-thumb-hover: #72b0e2;

  --bg: #0f0f0f;
  --text: #f1f1f1;
}
