.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
  justify-items: center;

  align-items: start; /* IMPORTANTE */
}

/* CARD BASE (pequeno) */
.card {
  border-radius: 14px;
  overflow: hidden;
  position: relative;
  transition: transform 0.35s ease, box-shadow 0.35s ease;
  cursor: pointer;
}

/* IMAGEM (escondida no estado normal) */
.card-img {
  width: 100%;
  max-height: 0;            
  object-fit: cover;
  opacity: 0;
  transition: max-height 0.35s ease, opacity 0.35s ease;
}

/* INFO */
.card-info {
  padding: 14px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* HOVER */
.card-link {
  margin-top: 10px;
  padding: 10px 14px;
  background: rgba(24, 160, 101, 0.452);
  backdrop-filter: blur(6px);
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  border-radius: 10px;
  border: 1px solid rgba(32, 30, 30, 0.15);
  transition: background 0.25s ease, box-shadow 0.25s ease;
}

.card-link:hover {
  background: rgba(8, 212, 124, 0.452);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
}
